.container {
    margin-left: 210px;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  

.thead th {
    background-color: #d3d3d3;
    color: black;
  }

.tr:nth-child(even) td {
    background-color: #f3f3f3; /* or any other background color you prefer */
  }

.btn-update{
  background-color: rgb(17, 118, 172);
  color: white;
  margin-right: 15px;
}

.btn-delete{
  background-color: rgb(203, 14, 14);
  color: white;
}