/* Sidebar.css */

body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343067;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: white;
  }
  
 
  
 /* Sidebar.css */


  
  
 
  
  #main {
    transition: margin-left 0.5s;

    position: relative; /* Add this line */
  }
  

  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
  .Kql{
    background-color: #343fa5;
    font-size: 20px;
    padding: 3px;
    color: aliceblue;

  }

img{
  padding: 30px;
}
