.container{
    margin-left: 210px;
    margin-top: 15px;
}
#inputPrice{
    width: 49%;
}
label{
    font-size: 18px;
    font-weight: 450;
}
p{
    font-style: italic;
}
table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px 0px;
  }
  

.thead th {
    background-color: #d3d3d3;
    color: #000000;
  }
th, td{
    border: 1px solid black;
}
.btn{
  background-color: rgb(17, 118, 172);
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}
